
@font-face {
    font-family: "vagron" ;
    src: url(Fontes/vagron.TTF);
}
@font-face {
    font-family:"lato-bold" ;
    src: url(Fontes/Lato-Bold.ttf);
}

body {
    font-family: "vagron";
    padding: 40px;
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

* {
    text-align:center;
}

p {
    padding: 10px;
    color: rgba(255, 253, 253, 0.938);
    font-size: 20px;
}

 .textoEsquerdo{
    font-family: "lato-bold";
    text-align: left;
    font-size: 15px;
    color:  rgb(255, 238, 0);;
}

.radio {
    text-align: center;
    border: solid  rgb(255, 238, 0);;
    border-radius: 25px;
    padding: 10px;
    color: rgb(8, 31, 245);
    background-color: rgb(255, 238, 0);
    font-size: 20px;
    
}

.nome {
    text-align: left;
    width: 500px;
    height: 35px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    margin-bottom: 40px;
}

.cnpj {
    text-align: left;
    width: 500px;
    height: 35px;
    color: rgb(241, 237, 237);
    font-size: 20px;
    margin-bottom: 40px;
}

.email {
    text-align: left;
    width: 500px;
    height: 35px;
    font-size: 20px;
    margin-bottom: 40px;
}

.ProBlu {
    color: rgb(19, 19, 19);
    font-size: 20px;
    background-color: rgba(247, 247, 248, 0.466);
    display: inline-block;
    vertical-align: middle; 
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.ProBlu input[type=radio] {
    width: 18px;
    height: 20px;
    cursor: pointer;
    font-size: 40px;
    background-color: rgba(247, 247, 248, 0.466);
}

.ocupacao {
    padding: 10px;
    color: rgb(19, 19, 19);
    font-size: 20px;
    background-color: rgba(247, 247, 248, 0.466);
    border-radius: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.ocupacao div {
    text-align: left;
}

.ocupacao input[type=radio] {
    width: 18px;
    height: 20px;
}

.ocupacao label {
    cursor: pointer;
    unicode-bidi: normal;
}

.filiais {
    text-align: left;
    width: 500px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 60px;
}

a {
    color: rgb(4%, 10%, );
    font-size: 18px;
    background-color: rgba(209, 209, 209, 0.315);
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: rgb(53%, 53%, 54%);
}

footer{
    margin-top: 50px;
    position: relative;
    text-align: center;
    padding-bottom: 0px;
    
}

.button {
    width: 200px;
    border-radius: 50px;
    padding: 20px;
    padding-right: 25px;
    margin: 30px;
    cursor: pointer;
    font-size: 25px;
}

.button:hover {
    background-color: rgb(241, 105, 56);
}

.button:active {
    background-color: rgb(55, 55, 252);
}

.text {
    margin-top: 60px;
    border: solid rgb(248, 146, 12);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(247, 247, 248, 0.466);
    font-size: 25px;
}
