
@font-face {
    font-family: "vagron" ;
    src: url(usadas/vagron.TTF);
}
@font-face {
    font-family:"lato-bold" ;
    src: url(usadas/Lato-Bold.ttf);
}
body {
    font-family: "lato-bold";
    padding: 40px;
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

body input{
    text-transform: capitalize ;
}

form{ 
    width: 40%;
    padding: 30px;
    align-content: center;
    background: linear-gradient(to top,rgb(230, 122, 22),rgb(2, 68, 155));
    padding-left: 10px;
    padding-right: 10;
    border: solid 3px rgba(228, 133, 45, 0.829);
    border-radius: 40px;
}

* {
    text-align:center;
}

.informacao{
    font-family: "lato-bold";
    text-align: right;
    border: 2px solid white;
    border-radius: 10px;
    float: right; 
}

.data{
    text-align: center;
    font-family: "vagron";
    color: yellow;
}

.mensagem{
    font-size: 10px;
    text-align: left;
    color: white;
}

p {
    padding: 10px;
    color: rgba(255, 253, 253, 0.938);
    font-size: 20px;
}

 .textoEsquerdo{
    font-family: "lato-bold";
    text-align: left;
    font-size: 15px;
    color:  rgb(255, 238, 0);
    float: left;
    margin-right: 260px;
}

.radio {
    text-align: center;
    border: solid  rgb(255, 238, 0);;
    border-radius: 25px;
    padding: 10px;
    color: rgb(8, 31, 245);
    background-color: rgb(255, 238, 0);
    font-size: 20px;
    
}

.nome {
    text-align: left;
    width: 500px;
    height: 35px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    margin-bottom: 40px;
}

.cnpj {
    text-align: left;
    width: 500px;
    height: 35px;
    font-size: 20px;
    margin-bottom: 40px;
}

.email {
    text-align: left;
    width: 500px;
    height: 35px;
    font-size: 20px;
    margin-bottom: 40px;
    text-transform: none;
}

.ProBlu {
    color: rgb(19, 19, 19);
    font-size: 20px;
    background-color: rgba(247, 247, 248, 0.466);
    display: inline-block;
    vertical-align: middle; 
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.ProBlu input[type=radio] {
    width: 18px;
    height: 20px;
    cursor: pointer;
    font-size: 40px;
    background-color: rgba(247, 247, 248, 0.466);
}

.ocupacao {
    padding: 10px;
    color: rgb(19, 19, 19);
    font-size: 20px;
    background-color: rgba(247, 247, 248, 0.466);
    border-radius: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.ocupacao div {
    text-align: left;
}

.ocupacao input[type=radio] {
    width: 18px;
    height: 20px;
    cursor: pointer;
}

.ocupacao label {
    cursor: pointer;
    unicode-bidi: normal;
}

.filiais {
    text-align: left;
    width: 500px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 60px;
}

a {
    color: rgb(4%, 10%, );
    font-size: 18px;
    background-color: rgba(209, 209, 209, 0.315);
    text-decoration: none;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding:8px;
    margin-left: 10px;
}

a:hover{
    color: rgb(53%, 53%, 54%);
}

a:visited {
    color:rgb(8, 31, 245);;
}
footer div{
    margin-top: 50px;
    display: inline;
    position: relative;
    text-align: center;
    padding: 6px 6px;
    border-radius: 4px ;
}

.button {
    width: 200px;
    border-radius: 50px;
    padding: 20px;
    padding-right: 25px;
    margin-bottom: 200px;
    cursor: pointer;
    font-size: 25px;
    box-shadow: none;
}

.button:hover {
    background-color: rgb(255, 255, 255);
}

.button:active {
    background-color: rgb(55, 55, 252);
}

.text {
    margin-top: 60px;
    border: solid rgb(248, 146, 12);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(247, 247, 248, 0.466);
    font-size: 25px;
}
